
.headtext{
    text-align: "center" ;
    background: rgb(148, 148, 148)!important;
    align-self: center;
    height:25%;
    width:25%;
    
    overflow:hidden

}

.body{
  
    background-color: rgb(148, 148, 148)!important;
   
   
}
.title{

    background-color: rgb(116, 114, 114);
    margin-bottom: 5%;
    height:100%;
    width:100%;
    overflow:hidden
}
